<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>댓글</h2>
<div align="center">
<form action="answerAf" method="post">
   <input type="hidden" name="seq" value="<%=seq %>">
   <input type="hidden" name="id" value="<%=user %>">

   <table border="1">
   <col width="200"><col width="500">

   <tr>
      <th>아이디</th>
      <td><%=user %></td>
   </tr>
   <tr>
      <th>제목</th>
      <td>
         <input type="text" name="title" size="50" value="">
      </td>
   </tr>
   <tr>
      <th>내용</th>
      <td>
         <textarea rows="20" cols="50" name="content" value=""></textarea>
      </td>
   </tr>
   <tr>
      <td colspan="2" align="center">
         <input type="submit" value="댓글작성완료">
      </td>
   </tr>

   </table>

</form>
</div>

</body>
</html>